langchain
dotenv
langchain-openai
langchain-google-genai
langchain-anthropic
langchain-ollama
langchain-groq
langchain-huggingface
chromadb
tiktoken
huggingface-hub
sentence-transformers
langchain-community
unstructured
langchain-text-splitters
langchain-classic
langchain-chroma
streamlit
